.mat-card.mat-focus-indicator.f7e-card.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100vw;
    height: 100vh;
}

.f7e-viewer.ng-star-inserted.fullscreen {
    height: 100% !important;
}