body {
    font-family: 'Roboto', sans-serif;
    min-width: 400px;
    padding: 20px;
    font-size: 16px;
}

.main_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
}

ul {
    padding-inline-start: 1.5em;
}